
<br>
<h2>Liste of the Houses</h2>
<br>
  <p-table [value]="maisons" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>IP</th>
        <th>User</th>
        <th>HomeStatus</th>
        <th>HomeOwner</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-maison>
      <tr>
        <td>{{ maison.HouseId }}</td>
        <td>{{ maison.HouseIP4 }}</td>
        <td>{{ maison.HouseName }}</td>
        <td>
          <i class="pi pi-circle-fill"
            [ngClass]="{
                      'text-green-500': maison.IsHouseActive === true,
                      'text-red-500': maison.IsHouseActive === false
                    }">
          </i>
          {{ maison.homestatus }}
        </td>
        <td>{{ maison.HouseOwner_Id }}</td>
        <td>
          <!-- @if (maison.HouseOwner?.username) { -->
          <button  pButton class="pi pi-eye p-button-sm p-button-text" (click)="openPopupListSensors()" ></button>
          <button pButton class="pi pi-eye p-button-sm p-button-text" [class.selected]="maison === selectedHouse" type="button" (click)="onSelect(maison)"></button>
          <!-- } -->
          <button pButton class="pi pi-pencil p-button-sm p-button-text" (click)="onEdit(maison)" ></button>
          <button pButton class="pi pi-trash p-button-sm p-button-danger" (click)="onDelete(maison)" ></button>
          <button pButton class="pi pi-wrench p-button-sm p-button-secondary" (click)="onDelete(maison)" ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
<br><br>
<button pButton class="pi pi-trash p-button-sm p-button-danger"  (click)="close()" ></button>

  @if (select) {
   <app-arduinosensors [selectedHousetarget]="selectedHouse"></app-arduinosensors>
    }

<br>
