<div style="text-align: left;">
  <p-buttongroup>
    <p-button class="pbutton" label="Manage Devices" [raised]="true" severity="info" (click)="gestionDevices()" icon ="pi pi-plus"/>
    <p-button class="pbutton" label="Add House" [raised]="true" severity="info" (click)="openPopupHouse()" icon ="pi pi-plus"/>
    <p-button class="pbutton" label="List Users" [raised]="true" severity="info" (click)="openPopupUser()" icon ="pi pi-users"/>
    <p-button class="pbutton" label="List of houses" [raised]="true" severity="info" (click)="openPopupListHouses()" icon="pi pi-home"/>
  </p-buttongroup>
</div>
  <p-buttongroup>
        <p-button (click)="logout()" severity="danger" label="Logout" icon="pi pi-sign-out"></p-button>
        <p-button routerLink="/hello" severity="warn" label="Hello" icon="pi pi-sign-out"></p-button>
</p-buttongroup>
}
@else{
<p-buttongroup>
     <p-button styleClass="p-button-primary custom-button"  routerLink="/register" label="Register" icon="pi pi-user-plus"></p-button>
    <p-button styleClass="p-button-primary custom-button"  routerLink="/login" label="Login" icon="pi pi-sign-in"></p-button>
</p-buttongroup>
}
