@if (currentUser()){
  <div >
  <p-buttongroup >
    <p-button styleClass="p-button-primary custom-button" label="Manage Devices" [raised]="true" severity="info" (click)="gestionDevices()" icon ="pi pi-plus"/>
    <p-button styleClass="p-button-primary custom-button" label="Add House" [raised]="true" severity="info" routerLink="/add-house" icon ="pi pi-plus"/>
    <p-button styleClass="p-button-primary custom-button"  label="List Users" [raised]="true" severity="info" (click)="openPopupUser()" icon ="pi pi-users"/>
    <p-button styleClass="p-button-primary custom-button"  label="List Users" [raised]="true" severity="info" routerLink="/list-users"  icon ="pi pi-users"/>
    <p-button styleClass="p-button-primary custom-button" label="List of houses" severity="info" routerLink="/maisons" icon="pi pi-home"/>
  </p-buttongroup>
</div>
  <p-buttongroup>
        <p-button (click)="logout()" severity="danger" label="Logout" icon="pi pi-sign-out"></p-button>
        <p-button routerLink="/hello" severity="warn" label="Hello" icon="pi pi-sign-out"></p-button>
</p-buttongroup>
}
@else{
<p-buttongroup>
     <p-button styleClass="p-button-primary custom-button"  routerLink="/register" label="Register" icon="pi pi-user-plus"></p-button>
    <p-button styleClass="p-button-primary custom-button"  routerLink="/login" label="Login" icon="pi pi-sign-in"></p-button>
</p-buttongroup>
}
