@import "primeicons/primeicons.css";


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.text-green-500 {
  color: green;
}

.text-red-500 {
  color: red;
}

h1,h2{
  text-align: center;
  color:blue;
}