<h1>Liste of the houses</h1>
<div>
<table class="houses-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>IP</th>
            <th>User</th>
            <th>HomeStatus</th>
            <th>HomeOwner</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (maison of listmaisons(); track maison.id) {
            <tr>
              <td>{{ maison.id }}</td>
              <td>{{ maison.ipv4 }}</td>
              <td>{{ maison.name }}</td>
              <td>
                <i [class]="getStatusClass(maison.isActive)">●</i>
                {{ maison.status }}
              </td>
              <td>{{ maison.owner_id }}</td>
              <td>
                <button
                  type="button"
                  (click)="onSelect(maison )"
                  [class.selected]="maison.id === selectedHouse()?.HouseId"

                  class="btn-view">
                  👁️ View
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>

      <br>
      <button (click)="close()" class="btn-close">❌ Close</button>

      <!-- Affichage conditionnel des détails -->
      @if (selectedHouse()) {
        <div class="house-details">
          <h3>{{ selectedHouse()!.HouseName | uppercase }} Details</h3>
          <div><span>ID: </span>{{ selectedHouse()!.HouseId }}</div>

          <fieldset>
            <legend>Nom de la maison</legend>
            <p>{{ selectedHouse()!.HouseName }}</p>
          </fieldset>
        </div>
      }

      <!-- Composant enfant avec transfert de données -->
@if (showSensors() && selectedHouse()) {
  <app-arduinosensor
    [houseData]="selectedHouse()"
    [isVisible]="showSensors()">
  </app-arduinosensor>
}

    </div>
